.chat {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px 15px;
    margin-top: 20px;
    &__messages {
        display: flex;
        flex-direction: column;
        height: 350px;
        overflow-y: scroll; 
    }
    &__textarea {
        overflow: hidden;
        margin-top: 20px;
        &__message {
            font-size: 14px;
            resize: none;
            border: 1px solid #eee;
            line-height: 18px;
            padding: 2px 5px;
            width: 97%;
            height: 55px;
        }
        &__send {
            margin-top: 10px;
            float: right;
        }
    }
}