.game {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &.active {
        background-color: #C1FFC1
    }
    &:not(.active):hover {
        background-color: #eee;
    }
}