.chessboard {
    display: grid;
    margin: 0 auto;
    margin-top: 50px;
    width: 480px;
    height: 480px;
    grid-template-columns: repeat(8 , 60px);
    grid-template-rows: repeat(8 , 60px);
}

.light {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: #ccc;
}
.dark {
    display: flex;
    padding: 5px;
    justify-content: center;
    background: rgb(65, 65, 65);
}