@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400,700');

@import '~normalize.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #eee;
}
